numpy==1.16.4
matplotlib==2.2.3
scipy==1.3.0
scikit-learn==0.21.2
hmmlearn==0.2.2
simplejson==3.16.0
eyed3==0.8.10
pydub==0.23.1
git+https://github.com/detly/gammatone.git@0626328ef7c31d3b33214db2fdcd52e8601eb4c5#egg=gammatone
git+https://github.com/tyiannak/pyAudioAnalysis.git@68e5859c0ec943096ab7d2d614bffc00107dbd9d#egg=pyAudioAnalysis
